# Environments
.env
venv/

# VScode
.vscode/

# Nornir
inventory/*
!inventory/hosts_example.yaml
nornir.log

# Firmware files
firmware_files/*
!firmware_files/firmware_goes_here.txt

# Mac stuff
.DS_Store